server:
  port: 8080
  use-forward-headers: true
  undertow:
    io-threads: 2
    worker-threads: 36
    buffer-size: 1024
    directBuffers: true
  servlet:
    session:
      timeout: 86400s
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource

    # H2database 配置
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:file:~/halo/halo
#    username: admin
#    password: 123456

    #MySql配置
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/halodb?characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: root

#  h2:
#    console:
#      settings:
#        web-allow-others: false
#      path: /h2-console
#      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  freemarker:
    allow-request-override: false
    cache: false
    check-template-location: true
    charset: utf-8
    content-type: text/html
    expose-request-attributes: false
    expose-session-attributes: false
    expose-spring-macro-helpers: true
    suffix: .ftl
    settings:
      auto_import: /spring.ftl as spring
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 1024MB

  # 多语言资源文件路径
  messages:
    basename: i18n/messages
logging:
  file: ./logs/log.log


